* {
    margin: 0;
    padding: 0;
  }

  footer {
    background-color: #F6C34A;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .logo-footer {
    margin-top: 3vh;
    width: 11%;
  }

  .container-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 7.42vh;
  }

  .itens-footer {
    margin-bottom: 7vh;
  }

  .itens-footer h4 {
    margin-bottom: 3.78vh;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1rem;
    color: #0E0E0E;
  }

  .itens-footer p {
    font-family: 'Open Sans';
    font-size: .8rem;
    line-height: 5vh;
    color: #0E0E0E;
  }

  .map-footer {
    border: 2px solid black;
  }

  footer iframe {
    width: 25vw;
    height: 35vh;
  }

  .item-list {
    list-style-type: none;
    margin-bottom: 1.5vh;
    font-family: 'Open Sans';
    font-size: .9rem;
    color: #0E0E0E;
  }