* {
    margin: 0;
    padding: 0;
  }

  header {
    height: 15vh;
    padding: 0 10vw;
  }

  a {
    text-decoration-line: none;
    color: black;
  }

  li {
    list-style-type: none;
  }

  .header-container {
    background-color: #FBFBFB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 30rem;
  }

  .header-logo {
    width: 150%;
  }

  .header-menu-item a {
    transition: all 0.4s ease;
  }

  .header-menu-item a:hover {
    color: rgb(65, 65, 216);
    text-decoration-line: underline;
    padding: 1em;
  }

  .header-menu-ul {
    display: flex;
    gap: 4em;
  }

  .header-menu-item {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  #img-wpp {
    position: fixed;
    right: 1.85em;
    bottom: 1.25em;
    width: 3vw;
  }

  #img-wpp:hover {
    transform: scale(1.2);
  }