main {
    height: 85vh;
    background-color: #F6C34A;
    border-bottom: 2px solid black;
    display: flex;
    font-family: 'Poppins';
    font-weight: 700;
    color: #000000;
}

#aside-container {
    flex-grow: .5;
    background-color: #0E0E0E;
}

#aside-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
    padding-left: 4rem;
}

.aside-a {
    font-size: 1rem;
    line-height: 4.2vh;
    color: #FFFFFF;
}

.matriculate-container {
    height: 100%;
    flex-grow: 4;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.matriculate-form {
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.625rem;
}

.matriculate-title {
    font-size: 1.5em;
}

#name, #course, #class, #nParcel {
    width: 21.48vw;
    height: 5.04vh;
    background: #FBFBFB;
    border-radius: 4px;
    border: none;
    margin-bottom: .3rem;
}

#matriculate-btn {
    background: #0E0E0E;
    border-radius: 9px;
    width: 21.48vw;
    height: 6.95vh;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: .8rem;
    line-height: 1.5em;
    color: #FBFBFB;
    cursor: pointer;
}

.report {
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.625rem;
}

#report-div-title {
    display: flex;
    column-gap: 1.8125em;
    align-items: center;
}

#report-div-img {
    width: 2.86vw;
    height: 6.16vh;
}

.report-li {
    list-style-type: none;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.375em;
}
